# --- DATA & LARGE FILES ---
images/
images_*/
data/*.png
data/*.jpg
*.zip
dataset_info

# Ignore all CSVs EXCEPT the ones we need for the code to run
*.csv
!data/Data_Entry_2017.csv

# --- SYSTEM & IDE ---
.DS_Store
.ipynb_checkpoints/
__pycache__/

# --- MODELS & ENV ---
*.pth
*.pth.tar
vh/
env/
.env
TeamGrades-Group18.txt

# --- Used for HuggingFace Spaces ---
ResNet50/checkpoints/
classes.json
classes.json
